- if current_user.already_liked?(blog)
  = link_to blog_likes_path(blog), method: :delete, remote: true do
    %i.fas.fa-heart
  = blog.likes.count
- else
  = link_to blog_likes_path(blog), method: :post, remote: true do
    %i.far.fa-heart
  = blog.likes.count
