.container
  .row
    .col-6.mx-auto
      %h2 編集
      = form_with model: @user, class: "blog-box", id: "blog-form", local: "true" do |f|
        .form-group
          %label ユーザー名
          %br/
          = f.text_field :name, class: "form-control"
        .form-group
          %label メールアドレス
          %br/
          = f.text_field :email, class: "form-control"
          %div
            = f.submit class: "btn-success"