%Body.overall
  .contents-row
    .contents-row__title
      %h3
        Welcome to
        = succeed "!" do
          %strong finest_coffee
    .contents-row__body
      %strong finest_coffeeとは?
      %br/
      %p
        新型コロナウイルスの感染拡大を受け、
        %br/
      %p  
        ゴールデンウイークも外出自粛が続いています。
        %br/
      %p  
        そんな中でおうち時間を充実させるために
        %br/
      %p  
        「ステイホーム」にぴったりのコーヒーの楽しみ方をご提供します。
