* {
  box-sizing: border-box;
}
body {
	text-align:center;
}
.header{
  display: flex;
  background-color: rgb(78, 36, 20);
  width: 100vw;
  height: 70px;
  align-items: center;
  justify-content: space-around;
}
.title{
  font-size: 16px;
  line-height: 60px;
}
.title a{
  text-decoration: none;
  color: aliceblue;
  text-align: center;
}
.search-form{
  margin-left: 100px;
}
.menu{
  display: flex;
}
.menulist{
  display: flex;
}
.logout{
  line-height: 60px;
  color: aliceblue;
  font-size: 15px;
  text-decoration: none;
  margin-right: 20px;
}
.post{
  line-height: 60px;
  color: aliceblue;
  font-size: 15px;
  text-decoration: none;
  margin-right: 20px;
}

.login{
  line-height: 60px;
  color: aliceblue;
  font-size: 15px;
  text-decoration: none;
  margin-right: 20px;
}
.register{
  line-height: 60px;
  color: aliceblue;
  font-size: 15px;
  text-decoration: none;
}