.single-form{
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  &__box{
    width: 700px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 40px 64px;
    h2{
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  &__btn{
    text-decoration: none;
    margin: 8px 0 0;
    border-radius: 4px;
    border: 1px solid rgb(78, 36, 20);
    background: rgb(78, 36, 20);
    color: #fff;
    line-height: 10px;
    display: block;
    width: 300px;
    height: 30px;
    margin: auto;
    margin-bottom: 25px;
  }
}
.field{
  &__require{
    padding: 2px;
    background-color:rgb(78, 36, 20);
    color: white;
  }
}
.labelBox {
  padding: 9px 16px 9px 16px;
  text-align: center;
}
.submit-btn{
  background:rgb(78, 36, 20);
  border: 1px solid rgb(78, 36, 20);
  color: #fff;
  border-radius: 4px;
  width: 200px;
  height: 30px;
}
